node_modules/
.env
.env.local

asscat-api/writable/cache/*
asscat-api/writable/debugbar/*
asscat-api/writable/logs/*
!asscat-api/writable/logs/.htaccess
asscat-api/public/uploads/*
!asscat-api/public/uploads/.htaccess

asscat-client/node_modules/
asscat-client/build/
asscat-client/.env

*.log
.DS_Store
Thumbs.db
~$*
*.swp
*.swo
